altair==4.2.2
blinker==1.5
matplotlib==3.6.3
matplotlib-inline==0.1.6
numpy==1.24.2
openpyxl==3.1.0
pandas==1.5.3
plotly==5.13.0
plotly-express==0.4.1
pyarrow==11.0.0
scipy==1.10.0
seaborn==0.12.2
semver==2.13.0
six==1.16.0
smmap==5.0.0
stack-data==0.6.2
statsmodels==0.13.5
streamlit==1.18.1
tenacity==8.2.1
toml==0.10.2
toolz==0.12.0
tornado==6.2
traitlets==5.9.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
validators==0.20.0
watchdog==2.2.1
wcwidth==0.2.6
whichcraft==0.6.1
yarg==0.1.9
zipp==3.13.0
zope.event==4.6
zope.interface==5.5.2